@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="~/css/site.css" />
<div>
    <div>
        <p class="my-title">About Us</p>
    </div>
    <div>
        <img src="/Images/about_us.png" />
    </div>
    <div class="my-text-margin">
        <p>
            HeavenProperty is a company of integrity, based on the principle of customers first and foremost,
            to find high-quality properties and customers,
            to ensure the legitimacy of users, and to provide a superior customer experience.
            Our slogan is "Your satisfaction, my pursuit! High quality and excellent purchase, service first!"
        </p>
    </div>

    <div class="my-text-margin">
        <p class="my-title">Contact Us</p>
    </div>
    <div>
        <div class="my-text-align">
            <img class="my-text-icon" src="/Images/phone.png" />
            <span>027-321-2675</span>
        </div>

        <div class="my-text-align">
            <img class="my-text-icon" src="/Images/location.png" />
            <span>97 Ironside Road, Johnsonville, Wellington 6037</span>
        </div>

        <div class="my-text-align">
            <img class="my-text-icon" src="/Images/face-book.png" />
            <span>https://www.facebook.com/sherily.shieh</span>
        </div>
    </div>

</div>
